.vscode

/demo
/docs
/node_modules
/src
/tests

.eslintrc.json
.gitignore
.prettierrc

index.html

package-lock.json
tsconfig.json

vite.config.demo.ts
vite.config.lib.ts
vite.config.ts

yarn-error.log
yarn.lock
